@import '../../variables.scss';

.ticket {
    min-width: 320px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 8px $box-shadow-color;
    margin-bottom: 20px;
    transition: $def-transition-time;
}

.ticket:hover {
    background-color: $super-light-gray-color;
}

.ticket__company {
    height: 36px;
}

.ticket__body {
    display: flex;
    flex-direction: column;
}

.ticket__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ticket__price {
    color: $active-btn-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.ticket-table {
    width: 100%;
}

.ticket-table__header {
    color: $table-text-header-color;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.ticket-table__data {
    color: $text-color-gray;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.ticket-table__header:nth-child(2) {
    padding-top: 10px;
}

.ticket-table__data:last-child,
.ticket-table__header:last-child {
    text-align: right;
}
