@import '../../variables.scss';

.filters {
    background-color: #fff;
    min-width: 232px;
    width: 232px;
    height: 252px;
    border-radius: $border-radius;
    box-shadow: 0 0 6px 0 $box-shadow-color;
}

.filters__title {
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 20px 0 10px 20px;
}

.filters__item {
    transition: $def-transition-time;
}

.filters__item:hover {
    background-color: $hover-filter-btn-color;
}

.filters__item label {
    font-size: 13px;
    display: flex;
    position: relative;
    padding-left: 55px;
    height: 40px;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filters__item label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filters__item label span {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 16px;
    width: 16px;
    border: 2px solid $checkbox-border-color;
    border-radius: 3px;
    transition: $def-transition-time border;
}

.filters__item label span:after {
    content: '';
    position: absolute;
    opacity: 0;
    scale: 0;
    transform: rotate(0);
    transition:
        $def-transition-time opacity,
        $def-transition-time scale,
        $def-transition-time transform;
}

.filters__item label input:checked ~ span {
    border: 2px solid $active-btn-color;
}

.filters__item label input:checked ~ span:after {
    scale: 1;
    opacity: 1;
    transform: rotate(45deg);
}

.filters__item label span:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid $active-btn-color;
    border-width: 0 2px 2px 0;
}

@media (max-width: 810px) {
    .filters {
        width: 100%;
        min-width: 320px;
        margin-bottom: 20px;
    }
}
